<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="primary">
      <ion-icon style="font-size: 150%;" name="bookmark" (click)="save(item)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="/assets/cake7.jpg">
</ion-card>
  <p style="padding-left: 20px; font-weight: bold; font-size: 150%;">Black Forest Cake Recipe</p>

  <ion-slides [options]='slidecake'>
    <ion-slide *ngFor ="let item of content">
      <ion-card class="content">
        <img src = {{item.img}} class="image">
        <p>{{item.content}} </p>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <p style="padding-left: 20px; font-weight: bold; font-size: 120%;">Ingredients</p>
  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the chocolate cake:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 cup all-purpose flour</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 cups granulated sugar</p>
  <p style="padding-left: 20px; font-size: 70%;">- 3/4 cup Dutch-processed cocoa powder sifted</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 tsp baking soda</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 tsp baking powder</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 tsp salt</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 cup vegetable oil</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 cup buttermilk room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 cup hot water</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 large eggs</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 tsp vanilla</p>

  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the cherry liqueur syrup:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 cup granulated sugar</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 cup water</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/4 cup cherry liqueur</p>

  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the whipped cream frosting:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 3 cup whipping cream cold</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/4 cup powdered sugar sifted</p>

  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the chocolate bark:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 250 g good quality dark chocolate chopped</p>

  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the assembly:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 and 1/2 cups cherries pitted and cut in half</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 bar dark chocolate for shavings (optional)</p>
  <p style="padding-left: 20px; font-size: 70%;">- cherries</p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 120%;">Instructions</p>
  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the chocolate cake:</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. Preheat oven to 350F, grease two 8" round baking pans and dust with cocoa powder. Line bottoms with parchment. </p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">2. Place all dry ingredients into the bowl of a stand mixer fitted with a paddle attachment. Stir to combine.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">3. In a medium bowl whisk all wet ingredients (pour hot water in slowly as not to cook the eggs).</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">4. Add wet ingredients to dry and mix on medium for 2-3 mins. Batter will be very thin.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">5. Pour evenly into prepared pans. I used a kitchen scale to ensure the batter is evenly distributed.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">6. Bake for 45 mins or until a cake tester comes out mostly clean.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">7. Cool 10 minutes in the pans then turn out onto a wire rack to cool completely. </p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the cherry liqueur syrup: </p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. Place sugar and water into a small pot. Stir and bring to a boil. Simmer for 1 min then remove from heat. Stir in cherry liqueur and allow to cool completely.</p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the whipped cream frosting:</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. Whip cream and powdered sugar until stiff peaks. Ideally in a cold bowl with a cold whisk.</p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the chocolate bark:</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. Melt chocolate over a double boiler or in 20 second bursts in the microwave.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">2. Using a large offset spatula, spread melted chocolate in a thin layer on a large sheet of parchment.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">3. Roll up from the short side of the parchment. Place on a baking sheet and refrigerate or freeze until firm.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">4. Unroll to create chocolate bark. </p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To assemble the cake: </p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. Cut each cake layer in half horizontally.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">2. Place one layer of cake on a cake stand or serving plate. Brush generously with cherry syrup. </p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">3. Top with approximately 1 cup whipped cream and spread evenly. Top with approximately 1 cup of cherries and gently press them into the whipped cream. Repeat with remaining layers and frost the outside of the cake.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">4. Decorate with chocolate bark, chocolate shavings, rosettes, and cherries if desired.</p>
</ion-content>