.lingkaran1{
	width: 70px;
	height: 70px;
	background: #fff2ef;
  border-radius: 50%;
}

.slide{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
 }

 .color1{
  background-color: #f8c0aa;
 }

 .color2{
   background-color: #e1cadb;
 }

 .color3{
   background-color: #b1dae9;
 }

 .button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
