<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="primary">
      <ion-icon style="font-size: 150%;" name="bookmark" (click)="save(item)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="/assets/cupcake2.jpg">
</ion-card>
  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 150%;">Red Velvet Cupcakes Recipe</p>

  <ion-slides [options]='slidecupcake'>
    <ion-slide *ngFor ="let item of content">
      <ion-card class="content">
        <img src = {{item.img}} class="image">
        <p>{{item.content}} </p>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <p style="padding-left: 20px; font-weight: bold; font-size: 120%;">Ingredients</p>
  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the red velvet cupcakes:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 and 1/3 cups (145 grams) cake flour (spooned & leveled)</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 tablespoons (10 grams) natural unsweetened cocoa powder</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 teaspoon baking soda</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/4 teaspoon salt</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/4 cup (60 grams) unsalted butter softened to room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 cup (200 grams) granulated sugar</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 large egg room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/4 cup (60 ml) oil canola or vegetable work well</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 tablespoon liquid red food coloring</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 teaspoon pure vanilla extract</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 teaspoon distilled white vinegar</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2/3 cup (160 ml) buttermilk room temperature</p>

  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the cream cheese frosting:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 cup (115 grams) unsalted butter softened to room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 (8-ounce) package cream cheese softened to room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 cups (240 grams) powdered sugar</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 teaspoon pure vanilla extract</p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 120%;">Instructions</p>
  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the red velvet cupcakes:</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. Preheat oven to 350°F (177°C). Line two standard 12-count muffin pans with 16 cupcake liners and set aside.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">2. In a large mixing bowl, whisk together the cake flour, cocoa powder, baking soda, and salt. Then sift the dry ingredients to remove any lumps of cocoa powder. Set aside.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">3. In the bowl of a stand mixer fitted with the paddle attachment, or in a large mixing bowl using an electric mixer, cream together the butter and sugar on medium speed for 4-5 minutes. Add the egg and mix until fully combined, then mix in the oil, red food coloring, vanilla, and vinegar stopping to scrape down the sides of the bowl as needed.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">4. Mix in the dry ingredients in three additions alternating with the buttermilk, starting and ending with the dry ingredients. Make sure to mix each addition until just combined and be careful not to over mix the batter.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">5. Evenly distribute the batter between all 16 cupcake liners in the prepared muffin pans, only filling each one about halfway full. </p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">6. Bake in separate batches at 350°F (177°C) for 15-18 minutes or until the tops of the cupcakes spring back when lightly touched and a toothpick inserted into the center comes out clean.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">7. Carefully remove the cupcakes from the pan and transfer to a wire rack to cool completely.</p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the cream cheese frosting:</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. In the bowl of a stand mixer fitted with the paddle attachment, or in a large mixing bowl using an electric mixer, beat the cream cheese until smooth. Add the butter and mix for about 30 seconds-1 minute until well combined and smooth. Add in the powdered sugar and vanilla extract and continue mixing until fully combined, scraping down the sides of the bowl as needed.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">2. Once the cupcakes have cooled completely, pipe the frosting on top.</p>
</ion-content>