<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title
        style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;font-size: 120%;">
        LOGIN</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="floating">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Full Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Phone Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" color="primary" [routerLink]="['/home']" (click)="register(item)">Register</ion-button>
</ion-content>
