<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;font-size: 120%;">
      About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card" style="padding-top: 10px;">
    <ion-grid>
      <ion-row>
        <ion-col><br />
          <img src="/assets/fix.png" alt="" /><br /><br />
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="padding-left: 20px; padding-right: 20px; font-size: 100%; text-align: center; color: black;">This
      application presents a
      variety of interesting info about dessert recipes, from cake to pudding. In this application, will display the
      estimated time of serving, the number of servings of dishes that can be made, and the number of calories contained
      in food.
      This application has a minimalist look and is perfect for those of you who like to try new recipes, because there
      are a variety of interesting recipes.</p>
    <div>
      <ion-icon class="icon" style="font-size: large;" name="arrow-up"></ion-icon>
      <p class="color" style="text-align: center; font-size: 100%;">To view members, swipe up.</p>
    </div>

    <ion-card>
      <img src="/assets/Embun.jpg" alt="" />
      <ion-label style="text-align: left;">
        <p style="text-align: center; padding-top: 15px; color: black; font-weight: bold; font-size: 150%;">
          Mustika Embun Jati</p>
        <p style="text-align: center; padding-bottom: 5px; font-size: 100%;">4311801031</p>
      </ion-label>
    </ion-card>

    <ion-card>
      <img src="/assets/Syenni.jpg" alt="" />
      <ion-label style="text-align: left;">
        <p style="text-align: center; padding-top: 15px; color: black; font-weight: bold; font-size: 150%;">
          Syenni Gracia Fanggidae</p>
        <p style="text-align: center; padding-bottom: 5px; font-size: 100%;">4311801054</p>
      </ion-label>
    </ion-card>

    <ion-card>
      <img src="/assets/Yoga.jpeg" alt="" />
      <ion-label style="text-align: left;">
        <p style="text-align: center; padding-top: 15px; color: black; font-weight: bold; font-size: 150%;">
          Muhammad Prayoga</p>
        <p style="text-align: center; padding-bottom: 5px; font-size: 100%;">4311601065</p>
      </ion-label>
    </ion-card>
  </ion-card>
</ion-content>