.card{
    background:linear-gradient(#ffdab98a, #ffc0cb8c, #c6c9e08c, #aff3dc8e);
}

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
  }

.color{
    color: #c0c0c0;
}