<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;font-size: 120%;">
      Cupcake</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/cupcake/chocolate-buttercream-cupcake']">
      <ion-card class="card1">
        <img src="assets/cupcake4.jpg">
      </ion-card>
      Chocolate Cupcakes Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/cupcake/lemon-cupcake']">
      <ion-card class="card1">
        <img src="assets/cupcake6.jpg">
      </ion-card>
      Lemon Cupcakes Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/cupcake/matcha-cupcake']">
      <ion-card class="card1">
        <img src="assets/cupcake3.jpg">
      </ion-card>
      Matcha Cupcakes Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/cupcake/rainbow-cupcake']">
      <ion-card class="card1">
        <img src="assets/cupcake5.jpg">
      </ion-card>
      Rainbow Cupcakes Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/cupcake/red-velvet-cupcake']">
      <ion-card class="card1">
        <img src="assets/cupcake2.jpg">
      </ion-card>
      Red Velvet Cupcakes Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/cupcake/special-mocha-cupcake']">
      <ion-card class="card1">
        <img src="assets/cupcake7.jpg">
      </ion-card>
      Mocha Cupcakes Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/cupcake/vanilla-cupcake']">
      <ion-card class="card1" >
        <img src="assets/cupcake1.jpg">
      </ion-card>
      Vanilla Cupcakes Recipe
    </ion-item>
  </ion-list>
</ion-content>