<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;font-size: 120%;">
      Pudding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/pudding/easy-banana-pudding']">
      <ion-card class="card1">
        <img src="assets/pudding1.jpg">
      </ion-card>
      Banana Pudding Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/pudding/chocolate-pudding']">
      <ion-card class="card1">
        <img src="assets/pudding6.jpg">
      </ion-card>
      Chocolate Pudding Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/pudding/custard-pudding']">
      <ion-card class="card1">
        <img src="assets/pudding5.jpg">
      </ion-card>
      Custard Pudding Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/pudding/jammy-pudding']">
      <ion-card class="card1">
        <img src="assets/pudding4.jpg">
      </ion-card>
      Jammy Pudding Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/pudding/mango-pudding']">
      <ion-card class="card1">
        <img src="assets/pudding2.jpg">
      </ion-card>
      Mango Pudding Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/pudding/strawberry-pudding']">
      <ion-card class="card1">
        <img src="assets/pudding3.jpg">
      </ion-card>
      Strawberry Pudding Recipe
    </ion-item>
    <ion-item class="item-thumbnail-left" style="font-weight: bold;" [routerLink]="['/pudding/vanilla-pudding']">
      <ion-card class="card1" >
        <img src="assets/pudding7.jpg">
      </ion-card>
      Vanilla Pudding Recipe
    </ion-item>
  </ion-list>
</ion-content>