<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="primary">
      <ion-icon style="font-size: 150%;" name="bookmark" (click)="save(item)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="/assets/cupcake6.jpg">
</ion-card>
  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 150%;">Lemon Cupcakes Recipe</p>

  <ion-slides [options]='slidecupcake'>
    <ion-slide *ngFor ="let item of content">
      <ion-card class="content">
        <img src = {{item.img}} class="image">
        <p>{{item.content}} </p>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <p style="padding-left: 20px; font-weight: bold; font-size: 120%;">Ingredients</p>
  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the cupcakes:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 and 3/4 cups (222 grams) Bob’s Red Mill Organic All Purpose Flour</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 tablespoon fresh lemon zest</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 teaspoon baking powder</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 teaspoon baking soda</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/2 teaspoon salt</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 stick (113 grams) unsalted butter, at room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 cup (200 grams) granulated sugar</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 large egg, at room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 cup (240 ml) whole milk, at room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 tablespoons fresh lemon juice</p>

  <p style="padding-left: 20px; font-weight: bold; font-size: 90%;">For the lemon cream cheese frosting:</p>
  <p style="padding-left: 20px; font-size: 70%;">- 8 ounces (227 grams) cream cheese, at room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 stick (113 grams) unsalted butter, at room temperature</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1 tablespoon lemon zest</p>
  <p style="padding-left: 20px; font-size: 70%;">- 1/8 teaspoon fine salt</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 1/2 cups (313 grams) powdered sugar, sifted*</p>
  <p style="padding-left: 20px; font-size: 70%;">- 2 tablespoons freshly squeeze lemon juice</p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 120%;">Instructions</p>
  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the cupcakes:</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. Preheat the oven to 350°F. Line two standard muffin tins with 15 paper liners.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">2. In a medium bowl combine the flour, lemon zest, baking powder, baking soda, and salt.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">3. In a large bowl, use an electric mixer on medium-high speed to beat the butter and sugar until fluffy and very well combined, about 3 minutes. On medium-low speed add the egg and beat until combined. Combine the milk and and lemon juice. Add in the flour mixture and milk mixture in alternating batches, starting and ending with the flour, mixing until just combined.</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">4. Divide the batter among the prepared muffin tins, filling each 3/4 full. Bake for 15 to 20 minutes, or until a toothpick inserted in the center comes out clean. Allow the cupcakes to cool in the pan for 5 minutes before removing to a wire rack to cool completely.</p>

  <p style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 90%;">To make the frosting:</p>
  <p style="padding-left: 20px; padding-right: 20px; font-size: 70%;">1. In the bowl of a stand mixer fitted with the paddle attachment, beat the cream cheese, butter, lemon zest, and salt on medium-high speed until very light, creamy, and smooth. On low speed gradually add in the sugar then the lemon juice and beat until creamy and smooth. If you need a stiffer consistency for decorative piping, add more powdered sugar.</p>
</ion-content>